@tailwind base;
@tailwind components;
@tailwind utilities;

.blinking-cursor {
  display: inline-block;
  width: 2px;
  height: 1.5em;
  background-color: black;
  animation: blink 1s step-start infinite;
  margin-left: 4px;
}

@keyframes blink {
  50% { opacity: 0; }
}
